.footer {
  background-color: var(--primary-blue);
  color: var(--secondary-white);
  padding: 2rem 0;
  text-align: center;
  margin-top: 3rem;
}

.footerContent {
  margin-bottom: 1rem;
}

.footerContent h3 {
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
}

.footerContent p {
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
}

.copy p {
  font-size: 0.8rem;
  opacity: 0.8;
}