:root {
  --primary-blue: #2c3e50; 
  --secondary-white: #ffffff; 
  --light-gray: #ecf0f1; 
  --text-color: #34495e; 
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--light-gray);
}

a {
  text-decoration: none;
  color: inherit; 
}